body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: 1fr 7fr / 1fr 5fr;
  overflow: hidden;
}

img {
  border: 1px inset rgb(145, 16, 16);
}

.productArea {
  display: grid;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
  width: 100%;
  grid-area: 2 / 2 / -1 / -1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: .5rem;
  gap: .5rem;
  justify-content: center;
}

.productCard {
  display: flex;
  flex-direction: column;
  width: clamp(35ch, 40ch, 60ch);
  padding: .75rem;
  box-shadow: 2px 2px 4px rgba(37, 23, 23, 0.4);
  border: 1px solid rgb(145, 16, 16);
}

.productCard:hover {
  box-shadow: 2px 2px 8px 2px rgba(37, 23, 23, 0.3);
}

h1 {
  background-color: rgb(145, 16, 16);
  padding: 2rem;
  margin: auto;
  text-align: center;
  grid-area: 1 / 1 / 2 / -1;
  width: 100vw;
  box-shadow: 0 0 4px 2px rgba(37, 23, 23, 0.6);
}

.itemHeading {
  background-color: rgb(145,16,16);
  padding: .5rem;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: sticky;
}

h3 {
  background-color: rgb(145, 16, 16);
  padding: .5rem;
  padding-left: 1rem;
  margin: 0;
  width: inherit;
  box-shadow: 0 2px 0 2px rgb(145, 16, 16);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-skip: space;
}

ul:not(li>ul){
  height: 100%;
}

ul > li {
  margin: 0;
  margin-top: .5rem;
  padding: 0;
  list-style: none;  
  text-decoration: none;
}

ul > li {
  margin-left: 2rem;
  padding: .1rem;
}


li {
  padding: .1rem;
  list-style: none;
}


li > ul> a > li:hover {
  background-color: lightslategray;
  color: white;
}


a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

ul > li > ul > a > li {
  padding-left: .55rem;
}

ul > ul > a > li:hover {
  background-color: lightslategray;
  color: white;
}

a:hover {
  background-color: lightslategrey;
  color: white;
}

.sidenav {
  grid-area: 2 / 1 / -1 / 2;
  margin: 0;
  padding: 0;
  border-radius: .2rem;
  box-shadow: 0 2px 4px rgba(37, 23, 23, 0.6);
}

.inventoryList,
.inventoryList > li {
  margin: 0;
}

.inventoryList {
  overflow-y: scroll;
  padding-left: .25rem;
  flex: 1;
  margin-right: clamp(2rem, 3rem, 5rem);
}

.itemDetails {
  display: flex;
  justify-items: stretch;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 2px rgba(37, 23, 23, 0.6);
  padding: .25rem;
  align-content: center;
}

.itemDetails:hover {
  background-color: rgba(179, 67, 67, 0.25);
}

strong,
.itemDetails > li {
  flex: 1;
  margin-top: 1rem;
}

form {
  display: flex;
  align-content: center;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemInfo > img {
  width: 30vw;
}

form.itemSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem;
}

form.itemSummary > label {
  flex: 1;
  display: flex;
  padding: .25rem;
  margin: .25rem;
}

.productPage {
  overflow-y: scroll;
  width: auto;
}